body, html
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

#container
{
    width: 80%;
    margin-left: 10%;
}
.baseSquare
{
    width: 30px;
    height: 30px;
    background-color: dimgray;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    color: white;
    overflow: hidden;
}
.baseRow
{
    height: 32px;
}

#restart
{
    display: none;
}
