body, html
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #122b40;
}

#container
{
    width: 60%;
    margin: 0 auto;
}

header
{
    font-size: 50px;
    text-align: center;
}

#gameInit
{
    width: 40%;
    margin: 0 auto;
}

#gameBoard
{
    padding:10px;
    background-color: #761c19;
    box-shadow: 5px 5px 5px black;
    display: none;
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;
}

#statusBar
{
    border: 1px solid black;
    width: 40%;
    margin: 0 auto 10px auto;
    display: none;
    text-align: center;
}
.baseSquare
{
    background-color: dimgray;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    color: white;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 2px 2px 2px black;
}
.baseRow
{
    height: 32px;
}

#restart
{
    margin: 20px auto;
    display: none;
}
